$shadow-color: rgba(#edd3ff, 0.56);
$shadow-size: 45px;
$box-color: #4b364e;

.custom-box {
	display: table;
	margin: 48px auto 12px;
	width: 230px;
	height: 230px;
	background-color: $box-color;
	box-shadow: 0px 16px $shadow-size $shadow-color;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;

	& > span {
		padding: 0 12px;
	}

	span.value {
		color: orange;
	}
}
