.container {
	padding: 72px;
}

#wrapper {
	margin-top: 48px;
}

h1 {
	font-size: 4.8rem;
	line-height: 4.8rem;
	margin-bottom: 0;

	span {
		color: $green;
	}
}

.ln {
	display: flex;
	font-size: 1.8rem;
	line-height: 1.8rem;
	margin-bottom: 6px;
	width: 100%;
	max-width: 100%;

	&.white {
		color: $white;
	}

	&.green,
	.mark {
		color: $green;
	}

	&.blue {
		color: $blue;

		.mark {
			color: $blue;
		}
	}

	&.red {
		color: $red;

		.mark {
			color: $red;
		}
	}

	.mark {
		margin-right: 12px;
	}

	input {
		margin: 0;
		padding: 0;
		color: $white;
		font-family: $font-family;
		font-size: 1.8rem;
		line-height: 1.8rem;
		width: 100%;
		max-width: 100%;
		border: none;
		background: rgba($white, 0.28);
		outline: none;

		&::placeholder {
			color: rgba($white, 0.6);
		}
	}
}

@media screen and (max-width: 1378px) {
	.container {
		padding: 48px;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		padding: 32px;
	}
}

@media screen and (max-width: 720px) {
	.container {
		padding: 24px;
	}
}
