.flex-wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;

	max-width: 500px;
	margin: 48px auto;

	.column {
		flex: 1 1 25%;
		padding: 6px;
	}
}

@media screen and (max-width: 500px) {
	.flex-wrapper {
		max-width: 230px;

		.column {
			flex: 1 1 50%;
		}
	}
}
